<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h3>
   {{ title }}!
  </h3>
  
</div>
<div class="container" style="text-align:center">
    <div class = "promo">    
        <img  alt="Map"  class="mx-auto d-block" src="./assets/images/usamap.jpg" (click)="display($event)"  >
          <div class="hilight">
              <table>
                  <tr>
                      <th>Ciudad</th>
                      <th>Humedad</th>
                      <th>Presión</th>
                      <th>Precipitación</th>
                      <th>Visibilidad</th>
                    </tr>
                <tr *ngFor="let res of AllResult">
                  <td><strong>{{res.ciudad}}</strong></td>
                  <td> {{res.humidity}}</td>
                  <td> {{res.pressure}}</td>
                  <td> {{res.rising}}</td>
                  <td> {{res.visibility}}</td>
                </tr>
                  
                </table>
         
          </div>
          </div>

 
  
          
</div>

<!-- <h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul> -->

